
@font-face{

	font-family: calmfont;
	src: url(audio-digial-design/fonts/KeepCalm-Medium.ttf);
}


.logo{

	
	top: 25px;
	position: relative;
	margin-bottom: 25px;
}
.logo-side{

	left: 0px;
	top: 5px;
	


	position: relative;
}
.navbar{

	font-size: 1.55em;
	top:5px;
	position: relative;
	display:table;
	width: 10000px;
	max-width: 100%;
	height:15px;
	background: #606060;
	display: table-cell;
	text-align: center;
	vertical-align: center;
	font-family: "Modern 20", sans-serif;
	margin-bottom: 15px;


}
a:link{

	color: #D0D0D0;
}

a:visited{

	color: #D0D0D0;

}

a:hover{

	color: white;
	text-decoration: none;

}

a.active{

	color:white;
	text-decoration: bold;
	

}
a.bar {

	display: inline-block;
	margin-right: 10px;
	margin-left: 20px;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

display: block;
width: auto;
height: auto;
position: relative;
max-width: 100%;
max-height: 100%;
text-align: center;

}
.carousel-inner{
display: table-cell;
top:0px;
height:auto;
width:752px;
float: center;
text-align: center;
vertical-align: center;
background-color: #606060;
border: 4px solid #606060;

position: relative;


}
.carousel-indicators{

top:565px;
position: relative;


}
.carousel{

position: relative;
display: inline-block;
right:0px;
margin-bottom: 30px;


}
.carousel-caption{

	font-family: "Modern 20", sans-serif;
}
.bodytitle{

	margin-top: 5px;
	background-color: #E8E8E8;
	text-align: center;
	position: relative;
	margin-right: 15px;
	margin-left:-15px;
	margin-bottom: -30px;
	height: auto;
	
	font-family: "Times New Roman";
	padding-top: 35px;
	padding-bottom: 35px;
	
	
	
	
}
.bodytitle > h2{

font-size: 2.5em;

}
.bodytext{
	font-size: 1.5em;
	text-indent: 50px;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	font-family: "Sans",sans-serif;
	text-align: center;

}
.btn-default{
	background-color: #606060;
	font-style: bold;
	color: white;
	font-size: 1.125em;
}
body {

	
	background-color: #CCCCCC;
}
.wholebody{

	box-shadow: 0 0 15px #3D3D3D;
	background-color: #F0F0F0;

}
.listofservices{

	background-color: #E8E8E8;
	padding: 10px;
	margin-left: -15px;
	text-align: left;


}

