.logo{

	
	top: 25px;
	position: relative;
}
.logo-side{

	left: 0px;
	top: 5px;
	

	position: relative;
}
.navbar{

	font-size: 1.55em;
	top:25px;
	position: relative;
	display:table;
	width: 10000px;
	max-width: 100%;
	height:15px;
	background: #606060;
	display: table-cell;
	text-align: center;
	vertical-align: center;
	font-family: "Modern 20", sans-serif;
	margin-bottom: 15px;


}
a:link{

	color: #D0D0D0;
}

a:visited{

	color: #D0D0D0;

}

a:hover{

	color: white;
	text-decoration: none;

}

a.active{

	color:white;
	text-decoration: bold;
	

}
a.bar {

	display: inline-block;
	margin-right: 10px;
	margin-left: 20px;

}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

display: block;
width: auto;
height: auto;
position: relative;
max-width: 100%;
max-height: 100%;
text-align: center;

}
.carousel-inner{
display: table-cell;
top:0px;
height:auto;
width:752px;
float: center;
text-align: center;
vertical-align: center;
background-color: #606060;
border: 4px solid #606060;

position: relative;


}
.carousel-indicators{

top: 535px;


}
.carousel{

position: relative;
display: inline-block;
right:0px;
margin-bottom: 10px;


}
.carousel-caption{

	font-family: "Modern 20", sans-serif;
}
.bodytitle{

	margin-top: 25px;
	width: ;
	text-align: center;
	position: relative;
	
	font-family: "Modern 20";
	
	
	
}
.bodytitle > h2{

font-size: 2.5em;

}
.bodytext{
	font-size: 1.25em;
	text-indent: 50px;
	
}